<form action="/post/<%= @post.id %>/edit" method="post">
<input type="text" name="post[title]" value="<%= @post.title %>">Title</input><br>
<input type="text" name="post[content]" value="<%= @post.content %>">Content</input><br>
<input type="text" name="post[price]" value=<%= @post.price_formatted %>>Price</input><br>
<input type="text" name="post[email]" value="<%= @post.email %>">E-mail</input><br>
<input type="submit" value="submit"></input>
</form>