<form name="new_post" action="/successful_update" method="POST">
  <br>
  <select name="category">
    <% @categories.each do |category| %>
      <option><%= category.title %></option>
    <%end%>
  </select>
  <br><br>
  Title: <input type="text" name="title" value=<%= @post.title %>><br><br>
  Price: <input type="text" name="price" value=<%= @post.price %>><br><br>
  Description: <textarea cols="40" rows="5" name="description" value=><%= @post.description %>
  </textarea><br><br>
  City: <input type="text" name="city" value=<%= @post.city %>><br><br>
  State: <input type="text" name="state" value=<%= @post.state %>><br><br>
  Email: <input type="text" name="email" value=<%= @post.email%>><br><br>
  <input type="submit" value="Submit">
</form>