<form action="/<%= @post.category_id %>/<%= @post.id %>" method="post">
  <input type="text" name='title' class='title' value="<%= @post.title %>">
  <input type="text" name='price' class='price' value="<%= @post.price %>">
  <br>
  <br>
  <textarea name="body" class='body'><%= @post.body %></textarea>
  <br><br>
  <input type="hidden" name ="_method" value="put">
  <input type="submit" value="Submit" id="edit_button">
</form>
<form action="/<%= @post.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Get yo shit off our site">
</form>