<h1>Posts</h1>

<% if @new_post %>
<p>
  Yay you just created a post! You can edit your post by visiting:
  <a href="/post/<%= @new_post.id %>/edit/<%= @new_post.key %>">
    /post/<%= @new_post.id %>/edit/<%= @new_post.key %>
  </a>
</p>
<% end %>

<h2><%= @category.capitalize %></h2>

<% @posts.each do |post| %>
<hr>
<ul>
<li><%= post.title %></a></li>
<li><%= post.content %></li>
<li>Price: $<%= post.price_formatted %></li>
<li><%= post.email %></li>
<li>Updated at: <%= post.updated_at %></li>
</ul>
<% end %>
<a href="/<%= params[:category] %>/post/new">Click Here to Create a Post</a>
