  <p><%= @post.name %></p>
  <p><%= @post.description %></p>
  <p>Respond at <%= @post.email %></p>
  <p>Here is your secret url :
    <a href = "http://localhost:9393/posts/<%= @post.id%>/<%= @post.secret%>">http://localhost:9393/posts/<%= @post.id%>/<%= @post.secret%></a></p>

  <a href= "http://localhost:9393/">home</a>