<form action = "/posts/updated/<%= @post.id%>/<%=@post.secret%>" method="post">
  <p>Your post</p>
  email: <input type="email" name="email" value="<%=@post.email%>"><br>
  name: <input type="text" name="name" value="<%=@post.name%>"><br>
  description: <input type="text" name="description" value="<%=@post.description%>">
  <p>Here is your secret url :
    <a href = "http://localhost:9393/posts/<%= @post.id%>/<%= @post.secret%>">http://localhost:9393/posts/<%= @post.id%>/<%= @post.secret%></a></p>

     <input type="submit" value = "Update Post">

  <a href= "http://localhost:9393/">home</a>
</form>
<form action = "/post/delete" method = "post">
  <input type="text" name = "id" value = "<%=@post.id %>" class="special">
  <input type="submit" value = "Delete Post">
</form>

